<h1>Bilderzoom mit Grid Layout</h1>
<p>Bewegen Sie die Maus über die Bilder oder tabben Sie durch!</p>
<section class="gallery">
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/a/a6/Lauf-1.jpg" alt="Lauf an der Pegnitz - Nürnberger Tor">
		<figcaption>Nürnberger Tor</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/4/4a/Lauf-2.jpg" alt="Lauf an der Pegnitz - Pegnitz">
		<figcaption>Brücke über die Pegnitz</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/2/24/Lauf-3.jpg" alt="Lauf an der Pegnitz - Nürnberger Tor">
		<figcaption>Mauermühle und Judenturm</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/e/e7/Lauf-4.jpg" alt="Lauf an der Pegnitz - Rathaus">
		<figcaption>Rathaus</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/4/48/Lauf-7.jpg" alt="Lauf an der Pegnitz - Roter Ochse">
		<figcaption>Roter Ochse</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/1/1a/Lauf-5.jpg" alt="Lauf an der Pegnitz - Wappensaal">
		<figcaption>Wappensaal im Wenzelschloss</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/c/c2/Lauf-6.jpg" alt="Lauf an der Pegnitz - Schleifmühle">
		<figcaption>Reichel'sche Schleifmühle</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/e/e3/Lauf-8.jpg" alt="Lauf an der Pegnitz - Kaiserburg und Pegnitz">
		<figcaption>Kaiserburg und Pegnitz</figcaption>
	</figure>
	<figure tabindex="1"> <img src="https://wiki.selfhtml.org/images/7/79/Lauf-9.jpg" alt="Lauf an der Pegnitz - Penitztalaue">
		<figcaption>Pegnitztalauen</figcaption>
	</figure>
</section>